<!DOCTYPE html>
<html>
<head>
<title>Respond</title>
<style>
div.relative {
    position: relative;
    left: 400px;
}
p.big {
	line-height: 200%
}
</style>
</head>
<body>
<div class="relative">
<form>
<p class="big">
<font size="4">
	Scored Labels: <input type="text" name="Scored_Labels" value={{Scored_Labels}}><br>
	<br>
</font>
<br>
<br>
<a href="https://s3-us-west-2.amazonaws.com/team3assignmentfinal/boston-aqi-eda.zip">Download EDA Notebook</a><br>
<br>
<a href="https://s3-us-west-2.amazonaws.com/team3assignmentfinal/boston-aqi.tar">Download Data Ingestion&Wrangling</a><br>
<br>

<a href="https://s3-us-west-2.amazonaws.com/team3assignmentfinal/boston-aqi-pipeline.tar">Download Pipeline</a><br>
<br>
<a href="https://gallery.cortanaintelligence.com/Experiment/Boosted-Decision-Tree">Download Data Azure Model</a>
</p>
</form>
</div>
</body>
</html>